<!DOCTYPE html>
<html>
<head>
  <title>Family Farms</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign In', new_user_session_path %>
  <%= link_to 'Sign Up', new_user_registration_path %>
<% end %>

<%= content_tag :p, notice, class: 'notice' %>
<%= content_tag :p, alert, class: 'alert' %>
<%= yield %>

</body>
</html>
